body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

header, main, footer {
  padding: 0 300px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2937;
}

#header-logo {
  font-size: 24px;
  color: #F9FAF8;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  padding: 0 16px;
}

a {
  text-decoration-line: none;
  color: #F9FAF8;
}
